.contenedor{
	width: 300px;
	height: 630px;
	background-color: none;
	margin: 30px 20px;
	float: left;
}
.contenedor .portada{
	width: 230px;
	height: 280px;
	background-color: none;
	margin: auto;
}
.portada img{
	width: 230px;
}

.nombre{
	width: 300px;
	height: 35px;
	background-color: none;
	text-align: center;
	margin: 15px auto;
	font-size: 30px;
}
.creador{
	width: 300px;
	height: 35px;
	background-color: none;
	text-align: center;
	margin: 15px auto;
	font-size: 30px;
}
.anio{
	width: 300px;
	height: 35px;
	background-color: none;
	text-align: center;
	margin: 15px auto;
	font-size: 30px;
}

/*  BOTONES  */

.botones{
	width: 300px;
	height: 170px;
	background-color: none;
}


.centrarbo{
	width: 200px;
	height: 170px;
	background-color: none;
	margin: auto;
	text-align: center;
}
.centrarbo .insertar, .borrar, .actualizar{
	width: 150px;
	height: 25px;
	background-color: #CED6CB;
	margin: 30px auto;
	font-size: 20px;
	font-family: arial;
	border-radius: 10px;
}
.centrarbo a{
	text-decoration: none;
}